.react-scroll-reveal {
  margin: 0;
  display: block;
}

.react-scroll-reveal-text {
  font-family: "Satoshi", sans-serif;
  color: #120f17 !important;
  font-size: clamp(1rem, 1.6vw, 1.25rem);
  max-width: 44rem;
  margin: 0;
  line-height: 1.6;
  font-weight: 500;
}

.word {
  display: inline-block;
}
